/*-----------------------------------------------------*\
	@TOPBAR
\*-----------------------------------------------------*/
	/* Base */
	.topbar {
		display: flex; 
		height: 5.8rem; 
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
	}
	.topbar button {
		background: none;
		border: none;
		border-radius: 0;
		color: inherit;
		font: inherit;
		padding: 0;
		outline: inherit;
	}

	.topbar .topbar__left { 
		align-items: center;
		box-shadow: 0 1px 0px 0 rgb(0 0 0 / 10%); 
		display: flex;
		height: 100%; 
	  	position: relative;
		width: 24rem;  
	  	z-index: 1;
	}
	.topbar.topbar--has-toggle .topbar__left {
		width: 29rem;
	}
	.topbar .topbar__sidebar-toggle {
		height: 100%; 
		line-height: 1;
	    padding: 1.8rem 1.7rem 1rem 1.7rem;
	    text-align: center;
	}
	
	.topbar .logo { margin-left: 2rem; }
	.topbar.topbar--has-toggle .logo { margin-left: 1.2rem; }

	.topbar .topbar__center {
		align-items: center;
		box-shadow: 0 1px 0px 0 rgb(0 0 0 / 10%);
		flex-grow: 1;
		height: 100%;
		padding: 0px;
    	position: relative;
	}
	
	.topbar nav {
		height: 100%;
	}
	.topbar ul.nav {
	    display: flex;
	    flex: 1;
	    flex-direction: row;
		height: 100%;
		list-style: none;
	    margin: 0;
	    padding: 0;
	}
	.topbar .spacer {
		flex: 1;
	}
	.topbar ul.nav > li { height: 100%; }
	.topbar ul.nav > li > a, .topbar ul.nav > li > button { 
		height: 100%; 
		line-height: 1;
	    padding: 0;
	    max-width: 10.5rem;
	    min-width: 5rem;
	    text-align: center;
	}

	.topbar ul.nav > li > .topbar__menu {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 1rem;
	}

	.topbar ul.nav > li > .topbar__menu--large { min-width: 10.5rem; }
	.topbar ul.nav > li > .topbar__menu--large .badge--notif {
		margin-left: .2rem;
		right: initial;
	}
	
	.topbar ul.nav > li > .topbar__menu--row { flex-direction: row; }
	.topbar ul.nav > li > .topbar__menu--row span.mdi { margin-right: .2rem; }

	.topbar .topbar__menu-icon .caret { 
		position: absolute;
    	right: 1rem;
		top: 2.6rem;
	}
	.topbar .topbar__menu-text { 
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis; 
		white-space: nowrap; 
	}
	.topbar .topbar__menu-text > .small { 
		position: inherit; 
	}

	.topbar__cont--user > a > img {
		height: 3.6rem;
		margin: 0 auto;
		margin-top: -.5rem !important;
		position: relative;
		width: 3.6rem;
	}

	/* Color */
	.topbar ul.nav > li > a,
	.topbar ul.nav > li > button, 
	.topbar .logo,
	.topbar .topbar__sidebar-toggle { color: #ffffff !important; }

	.topbar.topbar--light ul.nav > li > a,
	.topbar.topbar--light ul.nav > li > button,
	.topbar.topbar--light.topbar--reverse ul.nav > li > a,
	.topbar.topbar--light.topbar--reverse ul.nav > li > button,
	.topbar.topbar--reverse ul.nav > li > a:hover, 
	.topbar.topbar--reverse ul.nav > li > a:focus,
	.topbar.topbar--reverse ul.nav > li > button:hover, 
	.topbar.topbar--reverse ul.nav > li > button:focus,
	.topbar.topbar--light .topbar__sidebar-toggle,
	.topbar.topbar--light .logo,
	.topbar.topbar--light.topbar--reverse .topbar__sidebar-toggle,
	.topbar.topbar--reverse .topbar__sidebar-toggle:hover,
	.topbar.topbar--reverse .topbar__sidebar-toggle:focus,
	.topbar.topbar--reverse ul.nav > li.active > a,
	.topbar.topbar--reverse ul.nav > li.active > button,
	.topbar.topbar--reverse ul.nav > li.open > a,
	.topbar.topbar--reverse ul.nav > li.open > button  			{ color: #333333 !important; }

	.topbar.topbar--reverse ul.nav > li > a, 
	.topbar.topbar--reverse ul.nav > li > button, 
	.topbar.topbar--light.topbar--reverse ul.nav > li > a:hover,
	.topbar.topbar--light.topbar--reverse ul.nav > li > a:focus,
	.topbar.topbar--light.topbar--reverse ul.nav > li > button:hover,
	.topbar.topbar--light.topbar--reverse ul.nav > li > button:focus,
	.topbar.topbar--reverse .topbar__sidebar-toggle, 
	.topbar.topbar--light.topbar--reverse .topbar__sidebar-toggle:hover, 
	.topbar.topbar--light.topbar--reverse .topbar__sidebar-toggle:focus, 
	.topbar.topbar--light.topbar--reverse ul.nav > li.active > a,
	.topbar.topbar--light.topbar--reverse ul.nav > li.active > button,
	.topbar.topbar--light.topbar--reverse ul.nav > li.open > a,
	.topbar.topbar--light.topbar--reverse ul.nav > li.open > button 		{ color: #ffffff !important; }


	/* Icon */ 
	@media (min-width: 1200px) {
		.topbar .topbar__icon-small { display: none !important; }
	}
	@media (max-width: 1199px) { 
		.topbar .topbar__icon-large { display: none !important; }
		.topbar .topbar__left { width: 7rem !important; }
		.topbar.topbar--has-toggle .topbar__left { width: 12rem !important; }
		.topbar.topbar--has-toggle .logo { margin-left: 0rem; }
	}

	/** Impersonate & Maintenance **/
	.impersonate-shell { 
		background: #5bc0de; 
		color: #ffffff;
		height: 6rem; 
		padding: 9px 15px; 
		position: fixed;
		top: 0;
		z-index: 999; 
	}
	.impersonate-shell a { color: #ffffff; }
	.message-shell {
		border: none; 
		height: 5rem; 
		position: fixed !important; 
		top: 0;
		width: 100%; 
		z-index: 999;
	}
	.message-shell.alert-icon { 
		margin-top: 0; 
		padding-left: 6rem;
	}
	.message-shell.alert-icon i, .message-shell.alert-icon span.mdi {
		left: 1rem; 
	}

	.outer-shell.outer-shell--impersonate .topbar { top: 6rem; }
	.outer-shell.outer-shell--impersonate .inner-shell { margin-top: 11.8rem; }
	.outer-shell.outer-shell--impersonate .side-menu { top: 11.8rem; }

	.outer-shell.outer-shell--message .topbar { top: 5rem; }
	.outer-shell.outer-shell--message .inner-shell { margin-top: 10.8rem; }
	.outer-shell.outer-shell--message .side-menu { top: 10.8rem; }

	.outer-shell.outer-shell--impersonate.outer-shell--message .message-shell { top: 6rem; }
	.outer-shell.outer-shell--impersonate.outer-shell--message .topbar { top: 11rem; }
	.outer-shell.outer-shell--impersonate.outer-shell--message .inner-shell { margin-top: 16.8rem; }
	.outer-shell.outer-shell--impersonate.outer-shell--message .side-menu { top: 16.8rem; }

	/* Group Dropdown */
	.group-dd {
		width: 50rem; 
	}
	.group-dd__groups-shell {
		overflow-y: auto;
	}
	.group-dd__groups-shell .group-dd__groups-list {
		max-height: 50rem; 
	}
	.group-dd__groups-list .header__group--header { 
        padding: 10px 20px !important; 
        letter-spacing: .05em; 
        cursor: default; 
        text-transform: uppercase; 
        color: #686868; 
        font-family: Nunito Sans, sans-serif; 
        font-size: 11px; 
        background: #f1f2f3;
    }
    .group-dd__groups-list .header__group--group { 
        border-bottom: 1px solid #f1f2f3;
    }
    .group-dd__groups-list .header__group--group:hover { 
        background: #f4f5f6;
    }
    .group-dd__groups-list .header__group--group:hover .header__group--manage { 
        background: #ffffff;
    }
    .group-dd__groups-list .header__group--favorite { 
        padding-left: 15px;
    }
    .group-dd__groups-list .header__group--favorite:hover { 
        cursor: pointer;
    }
    .group-dd__groups-list .header__group--group:hover .header__group--manage:hover { 
        background: #f4f5f6;
    }
    .group-dd__info {
    	background-color: #ddd; 
    	padding: 10px 18px;
    }

	/* Searches */
	.header__dd-cont { margin-bottom: 0px; }
	.header__dd-cont .header__dd--header {
		padding: 10px 20px !important;
		letter-spacing: .05em;
		cursor: default;
		text-transform: uppercase;
		color: #98a6ad;
		font-family: Nunito Sans, sans-serif;
		font-size: 11px;
		background: #f1f2f3;
	}
	.header__dd-cont .header__dd--item { border-bottom: 1px solid #f1f2f3; }
	.header__dd-cont .header__dd--item:hover { background: #f4f5f6; }

    /* Bookmark */
	#bookmark__cont li { 
		display: flex; 
	}

	#bookmark__cont li:not(:first-child) {
		border-top: .1rem solid #f5f5f5;
	}
	#bookmark__cont li a {
		flex: 1;
	}
	#bookmark__cont li button {
		border-left: .1rem solid #f5f5f5;
		width: 5rem;
	}
	#bookmark__cont li button:hover {
		background: #f5f5f5;
	}
	#bookmark__cont li button span {
		margin-left: 1rem;
	}

	/* Responsive */
	@media (min-width: 900px) and (max-width: 1000px) {
		.topbar ul.nav > li > a, .topbar ul.nav > li > button { max-width: 9rem; }
		.topbar ul.nav > li > .topbar__menu--large { min-width: 9rem; }
		.topbar ul.nav > li > .topbar__menu .badge--notif { font-size: 10px; margin-left: 0; padding: 2px 4px;}

	}
	@media (max-width: 900px) {
		.topbar ul.nav > li > a, .topbar ul.nav > li > button { max-width: 8rem; }
		.topbar ul.nav > li > .topbar__menu--large { min-width: 8rem; }
		.topbar ul.nav > li > .topbar__menu .badge--notif { font-size: 9px; margin-left: 0; padding: 1px 3px;}

		.topbar #header__group-shell {
			max-width: 100vh !important;
			min-width: none !important;
		}
	}
	@media (max-width: 650px) {
		.topbar .group-dd { width: 94vw; }
		.topbar .group-dd { left: -6.5rem; }
		.topbar.topbar--has-toggle .group-dd { left: -11.5rem; }
	}
	@media (max-width: 450px) {
		.topbar.topbar--has-toggle .topbar__left {
			width: 9rem !important;
		}
		.topbar.topbar--has-toggle .topbar__sidebar-toggle { 
			padding : 1.8rem 1.2rem 1rem 1.2rem;
		}
		.topbar.topbar--has-toggle .topbar__icon-small {
			max-height: 3rem !important;
			max-width: 3rem !important;
		}
		.topbar.topbar--has-toggle ul.nav > li > .topbar__menu--large {
			min-width: 6rem;
		}
		
		.topbar.topbar--has-toggle .group-dd { left: -8.5rem; }
		.topbar.topbar--has-toggle .group-dd .group-dd__search a { font-size: 1.1rem; }


		.topbar .topbar__cont--user .caret { display: none; }
	}


/*-----------------------------------------------------*\
	@SIDEBAR
\*-----------------------------------------------------*/
	/* Metis Menu css */
	.metismenu .arrow {
	  float: right;
	  line-height: 1.42857;
	}
	.metismenu .collapse {
	  display: none;
	}
	.metismenu .collapse.in {
	  display: block;
	}
	.metismenu .collapsing {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  -webkit-transition-timing-function: ease;
	  -o-transition-timing-function: ease;
	  transition-timing-function: ease;
	  -webkit-transition-duration: .35s;
	  -o-transition-duration: .35s;
	  transition-duration: .35s;
	  -webkit-transition-property: height, visibility;
	  -o-transition-property: height, visibility;
	  transition-property: height, visibility;
	}

	.enlarged--fix .metisMenu .collapsing {
	  display: none;
	}
	.side-menu {
	  width: 24rem;
	  z-index: 10;
	  bottom: 0;
	  margin-top: 0;
	  padding-bottom: 30px;
	  position: fixed;
	}
	#sidebar-menu > ul > li > a {
	  display: block;
	  padding: 14px 20px;
	  margin: 2px 0;
	  font-size: 16px;
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	}
	#sidebar-menu > ul > li > a > span {
	  vertical-align: middle;
	}
	#sidebar-menu {
	  padding-top: 10px;
	}
	#sidebar-menu .menu-arrow {
	  -webkit-transition: -webkit-transform 0.15s;
	  -o-transition: -o-transform 0.15s;
	  transition: transform .15s;
	  position: absolute;
	  right: 20px;
	  display: inline-block;
	  font-family: 'Material Design Icons';
	  text-rendering: auto;
	  line-height: 26px;
	  font-size: 18px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  -o-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	#sidebar-menu .menu-arrow:before {
	  content: "\F142";
	}
	#sidebar-menu .badge,
	#sidebar-menu .label {
	  /*margin-top: 3px;*/
	  margin-right: 20px;
	  margin-top: 0px;
	}
	#sidebar-menu li.active .menu-arrow {
	  -ms-transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
	}
	#sidebar-menu ul li a i, #sidebar-menu ul li a > span.mdi {
	  display: inline-block;
	  font-size: 18px;
	  line-height: 17px;
	  margin: 0 10px 0 3px;
	  text-align: center;
	  vertical-align: middle;
	  width: 20px;
	}
	#sidebar-menu ul li a .drop-arrow {
	  float: right;
	}
    #sidebar-menu ul li a .drop-arrow i, #sidebar-menu ul li a .drop-arrow span.mdi {
        margin-right: 0;
    }


	/** BEGIN COLOR DIFF - Default White **/
	.side-menu {
	  background: #ffffff;
	  box-shadow: 1px 0px 0px 0 rgb(0 0 0 / 10%);
	}
	#sidebar-menu > ul > li > a {
	  color: #1c2128;
	}
	#sidebar-menu > ul > li > a:hover,
	#sidebar-menu > ul > li > a:focus,
	#sidebar-menu > ul > li > a:active {
	  color: #313a46;
	  text-decoration: none;
	  background-color: #f5f5f5;
	}
	#sidebar-menu > ul > li > a.active {
	  color: #313a46 !important;
	  background-color: #f5f5f5;
	}
	.nav-second-level.nav li a,
	.nav-thrid-level.nav li a {
	  padding: 7px 20px 7px 10px;
	  color: #505f73;
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	}
	.nav-second-level.nav li a:focus,
	.nav-thrid-level.nav li a:focus {
	  background-color: #ffffff;
	}
	.nav-second-level.nav li a:hover,
	.nav-thrid-level.nav li a:hover {
	  background-color: #ffffff;
	  color: #64c5b1;
	}
	body:not(.enlarged) .nav-second-level.nav > li > a {
	  padding-left: 58px;
	}
	
	.nav-second-level.nav li.active > a {
	  color: #1c2128;
	  background-color: #ffffff;
	}
	.nav-third-level.nav > li > a {
	  padding-left: 68px;
	}
	.nav-third-level.nav li.active > a {
	  color: #1c2128;
	}
	.menu-title {
	  padding: 12px 30px 12px 20px !important;
	  letter-spacing: .05em;
	  cursor: default;
	  font-size: 11px;
	  text-transform: uppercase;
	  color: #677982;
	  font-family: 'Nunito Sans', sans-serif;
      display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	#sidebar-menu > ul > .menu-title > a {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		height: 100%;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	#sidebar-menu > ul > .menu-title > a > span.mdi {
		margin: 6px;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul ul li.active a,
	.nav-second-level.nav li a:hover, .nav-thrid-level.nav li a:hover,
	.nav-second-level.nav li.active > a, .nav-thrid-level.nav li.active > a {
	  background-color: #f5f5f5; 
	  color: #1c2128 !important;
	}

	#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active, #sidebar-menu > ul > li > a.active { background-color: #dcdcdc; }

	.enlarged .outer-shell .left.side-menu #sidebar-menu ul ul li.active a, 
	.nav-second-level.nav li a:hover, 
	.nav-thrid-level.nav li a:hover, 
	.nav-second-level.nav li.active > a, 
	.nav-thrid-level.nav li.active > a {
	  background-color: #dcdcdc;
	}

	/* accessibility :focus where it is required for above (keyboard nav) */
	.nav-second-level.nav li a:focus, .nav-thrid-level.nav li a:focus {
	background-color: #dcdcdc;
	}
	/** END OF COLOR DIFF **/

	.enlarged .outer-shell .left.side-menu:not(:hover) #sidebar-menu .menu-arrow,
	.enlarged .outer-shell #sidebar-menu .label,
	.enlarged .outer-shell #sidebar-menu .badge {
	  display: none !important;
	}
	.enlarged .outer-shell #sidebar-menu .collapse.in {
	  display: none !important;
	}
	.enlarged .outer-shell #sidebar-menu .nav.collapse {
	  height: inherit !important;
	}
	.enlarged .outer-shell #sidebar-menu ul ul {
	  z-index: 9999;
	  background-color: #f5f5f5;
	}
	.enlarged .outer-shell .left.side-menu {
	  width: 5.8rem;
	  z-index: 99;
	}
	.enlarged .outer-shell .left.side-menu:hover {
	  width: 260px;
	}

	.enlarged .outer-shell .left.side-menu #sidebar-menu > ul > li > a {
	  padding: 10px 20px 10px 15px;
	  min-height: 44px;
	}

	.enlarged .outer-shell .left.side-menu #sidebar-menu > ul > li > a i, .enlarged .outer-shell .left.side-menu #sidebar-menu > ul > li > a > span.mdi {
	  font-size: 18px;
	  margin-right: 20px !important;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu > ul > li > a > span.app_icon_small {
		flex-shrink: 0;
	 }
	.enlarged .outer-shell .left.side-menu .label {
	  position: absolute;
	  top: 5px;
	  left: 35px;
	  text-indent: 0;
	  display: block !important;
	  padding: .2em .6em .3em !important;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li {
	  position: relative;
	  white-space: nowrap;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li:hover > a {
	  position: relative;
	  width: 260px;
	}
	.enlarged .outer-shell .left.side-menu:hover #sidebar-menu ul > li.active:hover > ul, .enlarged .outer-shell .left.side-menu:hover #sidebar-menu ul > li.dropdown:hover > ul {
	  display: block !important;
	  left: 70px;
	  position: absolute;
	  width: 178px;
	}
	.enlarged .outer-shell .left.side-menu:hover #sidebar-menu ul > li.active > ul a {
	  box-shadow: none;
	  padding: 8px 20px;
	  position: relative;
	  width: 178px;
	  z-index: 6;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
	  color: #ffffff;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li:hover a span {
	  display: inline;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul ul li:hover > ul {
	  display: block;
	  left: 190px;
	  margin-top: -36px;
	  position: absolute;
	  width: 190px;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
	  -ms-transform: rotate(270deg);
	  -webkit-transform: rotate(270deg);
	  position: absolute;
	  right: 20px;
	  top: 12px;
	  transform: rotate(270deg);
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul ul li.active a {
	  color: #ffffff;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li > a span:not(.mdi):not(.app_icon_small) {
	  display: none;
	  padding-left: 10px;
	}
	.enlarged .outer-shell .left.side-menu:hover #sidebar-menu ul > li > a span:not(.badge) {
	  display: inline !important;
	}
	.enlarged .outer-shell .left.side-menu .user-details {
	  display: none;
	}

	.enlarged .outer-shell #sidebar-menu > ul > li:hover > a.open :after {
	  display: none;
	}
	.enlarged .outer-shell #sidebar-menu > ul > li:hover > a.active :after {
	  display: none;
	}
	.nav-menu-left > li > a {
	  color: #ffffff !important;
	  line-height: 40px;
	}
	.enlarged .outer-shell .left.side-menu #sidebar-menu ul > li > a > p { margin-left: 50px !important; }

	@media (max-width: 768px) {
	  .enlarged .left.side-menu {
	    margin-left: -70px;
	  }
	}

	@media (max-width: 480px) {
	  .side-menu {
	    z-index: 11 !important;
	  }
	}

	/** Hide/Show Logic for Scroll **/
	.side-menu .slimScrollBar, .side-menu .slimScrollRail             { display: none !important; }
	.side-menu:hover .slimScrollBar, .side-menu:hover .slimScrollRail { display: block !important; }

	@media (max-width:768px) { 
		.left.side-menu {
			top:60px;
		}
	}

	@media (max-width:1199px) {
		.enlarged .left.side-menu {
			display:none;
		}

		.content-page {
			margin-left: 0px !important;
		}

	}

    #side-menu li.active > a { font-weight: 600; }

	#side-menu li.active .active-color-primary        { background-color: #337ab7; color: #ffffff !important; }
	#side-menu li.active .active-color-success        { background-color: #5cb85c; color: #ffffff !important; }
	#side-menu li.active .active-color-info           { background-color: #5bc0de; color: #ffffff !important; }
	#side-menu li.active .active-color-warning        { background-color: #f0ad4e; color: #ffffff !important; }
	#side-menu li.active .active-color-danger         { background-color: #d9534f; color: #ffffff !important; }

	#side-menu li.active .active-color-cg--admin  { background-color: #B71C1C; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--analytic  { background-color: #37474F; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--api  { background-color: #546E7A; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--app  { background-color: #045E8C; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--career  { background-color: #880E4F; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--chat  { background-color: #0D47A1; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--checklist  { background-color: #AB47BC; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--connect  { background-color: #935E5D; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--custom  { background-color: #D32F2F; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--email  { background-color: #D0470C; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--engage  { background-color: #AB47BC; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--event  { background-color: #4A8411; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--meeting  { background-color: #311B92; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--fair  { background-color: #7E57C2; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--file  { background-color: #00796B; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--group  { background-color: #0277BD; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--market  { background-color: #D81B60; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--member  { background-color: #0D47A1; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--money  { background-color: #616161; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--officer  { background-color: #8D6E63; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--room  { background-color: #455A64; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--store  { background-color: #424242; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--survey  { background-color: #534599; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--user  { background-color: #0D47A1; color: #FFFFFF !important;}
	#side-menu li.active .active-color-cg--web  { background-color: #00838F; color: #FFFFFF !important;}


	.nav-second-level.nav.collapse.in { border-bottom: 1px solid #ccc; }
	.enlarged--fix .nav-second-level.nav.collapse.in { border-left: 1px solid #ccc;  }

	#sidebar-menu > ul > li > a {
	    padding: 10px 20px 10px 15px;
	    margin: 0px;
	}

	/* Feeds > Left-nav : active menu group type  */
	#sidebar-menu li.active .h5.media-heading.grey-element {
		color: #606060 !important;
	}

/* CONTENT */ 
	.inner-shell {
		margin-top: 5.8rem;
	}
	.side-menu {
		top: 5.8rem;
	}
	.content-page {
		margin-left: 24rem;
  		overflow: hidden;
	}
	.content-page .content {
  		padding: 0 5px 10px 5px;
	}

	.enlarged .outer-shell .content-page {
		margin-left: 7rem;
	}
	.enlarged .outer-shell .footer {
		left: 7rem;
	}