<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/favicon.ico" rel="icon">
    <title>{{title}}</title>
</head>

<body class="bg-blue">
    <div class="container wrapper d-flex align-items-center justify-content-center">
        <div class="sign-in-page bg-white b-rd-3 d-l-flex">
            <div class="header p-relative">
                <img src="static/compguide.png" alt="logo"> <!--make a logo for comp guide-->
                <p>
                    CompGuide, is a Website that serves as a forum to gather information on and review different 
                    comping processes of clubs at Harvard.
                </p>
            </div>
            <div class="main p-relative">
                <div class="switcher d-flex align-items-center">
                    <a href="#" class="sign-in c-black fs-14 active" data-section="sign-in-sec">Sign in</a>
                    <a href="#" class="sign-up c-black fs-14" data-section="sign-up-sec">Sign up</a>
                </div>
                <div class="sec sign-in-sec d-none active">
                    <h3 class="c-balck p-relative">Sign in</h3>
                    
                    <form class="d-flex flex-d-column" method="post" action="{{ url_for('index') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="inner-input fs-14 lightGray d-flex align-items-center">
                                <i class="fas fa-user"></i>
                                {{ form.username.label }}
                                {{ form.username(class="outline-0 b-0 w-100") }}
                            </div>
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group">
                            <div class="inner-input fs-14 lightGray d-flex align-items-center">
                                <i class="fas fa-lock"></i>
                                {{ form.password.label }}
                                {{ form.password(class="outline-0 b-0 w-100") }}
                            </div>
                            {{ form.password.errors }}
                        </div>
                        <div class="form-group">
                            <div class="inner-input fs-14 lightGray d-flex align-items-center justify-content-space-between">
                                <div class="check d-flex align-items-center">
                                    {{ form.remember(class="d-none") }}
                                    <label for="{{ form.remember.id }}">
                                        <span class="p-relative b-rd-50 pointer"></span>
                                    </label>
                                    <small class="c-black fs-14">Remember me</small>
                                </div>
                                <a href="#" class="t-capitalize c-black fs-14">forget password?</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-red">Sign in</button>
                        </div>
                    </form>
                    

                </div>
                <div class="sec sign-up-sec d-none">
                    <h3 class="c-balck p-relative">Sign up</h3>
                    <form class="d-flex flex-d-column">
                        <div class="form-group">
                            <div class="inner-input fs-14 lightGray d-flex align-items-center">
                                <i class="fas fa-at"></i>
                                <input type="email" placeholder="johnharvard@college.harvard.edu" class="outline-0 b-0 w-100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inner-input fs-14 lightGray d-flex align-items-center">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Username" class="outline-0 b-0 w-100">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inner-input lightGray d-flex align-items-center">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" class="outline-0 b-0 w-100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inner-input lightGray d-flex align-items-center">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirm Password" class="outline-0 b-0 w-100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inner-input lightGray d-flex align-items-center justify-content-space-between">
                                <div class="check d-flex align-items-center">
                                    <input type="checkbox" name="" id="confirm" class="d-none">
                                    <label for="confirm">
                                        <span class="p-relative b-rd-50 pointer"></span>
                                    </label>
                                    <small class="c-black fs-14">Yes, I understand and agree to the CompGuide Terms &
                                        Conditions. </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-red t-capitalize">get started</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script> <!--this line gives us the small icons of username and passwords and others-->
    <script src="/comp/js/index.js"></script>
</body>
</html>