{% extends "layout.html" %}

{% block title %}
    Reviewed
{% endblock %}

{% block main %}
    <h1>{{club.name}}</h1>
    <h2>Category: {{club.category}}</h2>
    <h3>Overall Ratings</h3>

    <!--  canvas for the chart -->
    <canvas id="overallRatingsChart" width="400" height="200"></canvas>

    <script>
        var ctx = document.getElementById('overallRatingsChart').getContext('2d');
        var data = {
            labels: {{ analysis_data.overall_ratings.labels| sort | tojson | safe }},
            datasets: [{
                label: 'Number of Respondents',
                data: {{ analysis_data.overall_ratings.data | tojson | safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };
        var options = {
            scales: {
                x: {
                    type: 'category',
                    labels: {{ analysis_data.overall_ratings.labels | sort | tojson | safe }},
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        };
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    </script>
    <br>
    <h3>Median Ratings</h3>
    <canvas id="medianRatingsChart" width="400" height="200"></canvas>

    <script>
        var ctxMedian = document.getElementById('medianRatingsChart').getContext('2d');
        var dataMedian = {
            labels: {{analysis_data.median_ratings.labels| sort | tojson | safe  }},
            datasets: [{
                label: 'Median Ratings',
                data: {{analysis_data.median_ratings.data | tojson | safe}},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        };
        var optionsMedian = {
            scales: {
                x: {
                    type: 'category',
                    labels: {{ analysis_data.median_ratings.labels | sort | tojson | safe }},
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        };
        var myChartMedian = new Chart(ctxMedian, {
            type: 'bar',
            data: dataMedian,
            options: optionsMedian
        });
    </script>
    
    <br>
    <h3>Comp Components</h3>
    
    <canvas id="compComponentsPieChart" width="400" height="200"></canvas>

    <script>
        var ctxCompComponents = document.getElementById('compComponentsPieChart').getContext('2d');
        var dataCompComponents = {
            labels: {{ analysis_data.comp_components.labels | tojson | safe }},
            datasets: [{
                data: {{ analysis_data.comp_components.data | tojson | safe }},
                backgroundColor: ['red', 'blue', 'green', 'yellow'],
                borderColor: 'white',
                borderWidth: 1
            }]
        };
        var myPieChart = new Chart(ctxCompComponents, {
            type: 'pie',
            data: dataCompComponents,
            options: options
        });
    </script>
    <br>
    <h3>Acceptance Rate</h3>
    <h5>Acceptance Rate: {{ analysis_data.acceptance_rate }}%</h5>
    <br>
    <h3>Advice</h3>
    
    <ul>
        {% for advice in analysis_data.advice_list %}
            <li>{{ advice }}</li>
        {% endfor %}
    </ul>
    <br>
    <h3>Overall Thought</h3>
    <ul>
        {% for thought in analysis_data.overall_thought_list %}
            <li>{{ thought }}</li>
        {% endfor %}
    </ul>
    
    <style>
        /* General Styling */
body {
    font-family: "Georgia", "Times New Roman", Times, serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Headings Styling */
h1, h2, h3 {
    color: #B59410; /* Complementing the form label color */
    margin-bottom: 20px;
}

/* Chart Container Styling */
canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 500px;
    margin: 20px auto;
    display: block;
}

/* List Styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e9e9e9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    font-family: "Georgia", "Times New Roman", Times, serif;
}

/* Paragraph Styling */
p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    canvas {
        max-width: 100%;
    }
}



    </style>
{% endblock %}
